### Укажите здесь свою ФИО:

## Оливер мать его Паркер

## Задание 1

Построить <code>pd.DataFreme</code> из двух столбцов.<br> 
В первом столбце уникальные коды IATA из базы <code>airports.csv</code> и <code>routes.csv</code>, <br> 
во втором пометка, для каждого уникального кода - "есть в двух базах", "только в airports", "только в routes"<br> 
Примечание 1. Подобное слияние баз (конечно подготовленных) можно выполнить одной строчкой кода.<br> 
Примечание 2. Помним, что <code>\N</code> нужно менять на <code>np.nan</code>.<br> 

Баллы:
1. загрузка файлов
2. слияние баз (за мининимальный и правильный код)
3. правильное количество кодов IATA для двух баз
4. правильное количество кодов IATA которые есть только в <code>airports.csv</code>
5. правильное количество кодов IATA которые есть только в <code>routes.csv</code>

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display


names_air=["Airport ID","Name","City","Country","IATA","ICAO","Latitude", 
                                           "Longitude", "Altitude", "Timezone", "DST", 
                                           "Tz database","Type","Source"]

routes_names = ["Airline", "Airline ID", "Source airport", "Source airport ID", 
                "Destination airport", "Destination airport ID", 
                "Codeshare", "Stops", "Equipment"]

In [4]:
airports = pd.read_csv('airports.csv')
airports

,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081689834590001,145.391998291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
2,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
3,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
4,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7178,12053,Rugao Air Base,Rugao,China,RUG,ZSRG,32.257885,120.501656,0,\N,\N,\N,airport,OurAirports
7179,12054,Wuhu Air Base,Wuhu,China,WHU,ZSWU,31.390600,118.408997,0,\N,\N,\N,airport,OurAirports
7180,12055,Shanshan Airport,Shanshan,China,SXJ,ZWSS,42.911701,90.247498,0,\N,\N,\N,airport,OurAirports
7181,12056,Yingkou Lanqi Airport,Yingkou,China,YKH,ZYYK,40.542524,122.358600,0,\N,\N,\N,airport,OurAirports
7182,12057,Shenyang Dongta Airport,Shenyang,China,\N,ZYYY,41.784401,123.496002,0,\N,\N,\N,airport,OurAirports

# Задание 2 
Необходимо задать собственный тикер ценной бумаги из SP500. Остальное остается без изменений<br>
Баллы:
1. Загрузите дневные данные и удалите колонку <code>Adj Close</code><br>
2. Перестройте (агрегируйте) данные с дневных на месячные. Результат сохраните в аналогичных колонках. 
3. Индекс дата/время по месяцам.
4. Проверяется результат в колонках <code>High</code> ...<code>Volume</code> - он должен корректно расчитан для месячных данных.
5. Постройте график OHLC. Внимание! свеча должна корректно отображаться на месяц, а не на последний или первый день месяца.

In [3]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
from IPython.display import display
import datetime
#import requests_cache
import plotly.graph_objects as go

start = datetime.datetime(2020, 1, 1)
end = datetime.datetime(2020, 12, 31)

symbol = 'AAPL' # ЗАМЕНИТЕ ТИКЕР на ЛЮБОЙ ДРУГОЙ из SP500 !!!!! 

#expire_after = datetime.timedelta(days=3)
#session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)
df =  web.DataReader(symbol, 'yahoo', start, end)#, session=session)
df = df.drop('Adj Close', axis = 1)
df

                  High         Low        Open       Close       Volume
Date
2020-01-02   75.150002   73.797501   74.059998   75.087502  135480400.0
2020-01-03   75.144997   74.125000   74.287498   74.357498  146322800.0
2020-01-06   74.989998   73.187500   73.447502   74.949997  118387200.0
2020-01-07   75.224998   74.370003   74.959999   74.597504  108872000.0
2020-01-08   76.110001   74.290001   74.290001   75.797501  132079200.0
...                ...         ...         ...         ...          ...
2020-12-24  133.460007  131.100006  131.320007  131.970001   54930100.0
2020-12-28  137.339996  133.509995  133.990005  136.690002  124486200.0
2020-12-29  138.789993  134.339996  138.050003  134.869995  121047300.0
2020-12-30  135.990005  133.399994  135.580002  133.720001   96452100.0
2020-12-31  134.740005  131.720001  134.080002  132.690002   99116600.0

[253 rows x 5 columns]

In [5]:
piv = df.pivot_table(index = df.index.month, values = ['High','Low', 'Open','Close','Volume'], aggfunc = np.mean)
piv

           Close        High         Low        Open        Volume
Date
1      77.979048   78.581547   77.207857   77.792738  1.397319e+08
2      77.817631   78.813158   76.681579   77.578421  1.589094e+08
3      65.611023   67.423181   63.711591   65.268410  2.854578e+08
4      68.096547   68.945357   67.021072   67.952857  1.554904e+08
5      77.496376   78.312875   76.595250   77.221375  1.402968e+08
6      86.451590   87.336250   85.160681   86.135341  1.474262e+08
7      95.566250   96.586818   94.265682   95.417500  1.372856e+08
8     117.299762  118.565596  115.556666  116.969881  1.938124e+08
9     115.125237  118.036190  112.584762  116.079048  1.850117e+08
10    116.413182  118.274546  114.911363  116.694090  1.315758e+08
11    116.825999  118.198999  115.410500  116.748501  1.061539e+08
12    127.290455  128.608182  125.727726  127.150455  1.055541e+08

In [50]:
#piv.index.map(lambda x: '2020')

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=253, freq=None)

In [56]:
#datetime.datetime.combine(df.index.year, df.index.month)

TypeError: combine() argument 1 must be datetime.date, not Int64Index

In [57]:
df.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=253, freq=None)

In [10]:
def get_date(date):
    return date.year, date.month
get_date(df.index[1])

(2020, 1)

In [11]:
df.index.map(get_date)

MultiIndex([(2020,  1),
            (2020,  1),
            (2020,  1),
            (2020,  1),
            (2020,  1),
            (2020,  1),
            (2020,  1),
            (2020,  1),
            (2020,  1),
            (2020,  1),
            ...
            (2020, 12),
            (2020, 12),
            (2020, 12),
            (2020, 12),
            (2020, 12),
            (2020, 12),
            (2020, 12),
            (2020, 12),
            (2020, 12),
            (2020, 12)],
           names=['Date', 'Date'], length=253)

In [12]:
piv = df.pivot_table(index = df.index.map(get_date), values = ['High','Low', 'Open','Close','Volume'], aggfunc = np.mean)
piv

                 Close        High         Low        Open        Volume
(2020, 1)    77.979048   78.581547   77.207857   77.792738  1.397319e+08
(2020, 2)    77.817631   78.813158   76.681579   77.578421  1.589094e+08
(2020, 3)    65.611023   67.423181   63.711591   65.268410  2.854578e+08
(2020, 4)    68.096547   68.945357   67.021072   67.952857  1.554904e+08
(2020, 5)    77.496376   78.312875   76.595250   77.221375  1.402968e+08
(2020, 6)    86.451590   87.336250   85.160681   86.135341  1.474262e+08
(2020, 7)    95.566250   96.586818   94.265682   95.417500  1.372856e+08
(2020, 8)   117.299762  118.565596  115.556666  116.969881  1.938124e+08
(2020, 9)   115.125237  118.036190  112.584762  116.079048  1.850117e+08
(2020, 10)  116.413182  118.274546  114.911363  116.694090  1.315758e+08
(2020, 11)  116.825999  118.198999  115.410500  116.748501  1.061539e+08
(2020, 12)  127.290455  128.608182  125.727726  127.150455  1.055541e+08