Hello! this is my first notebook in Python.
$$sin x$$

In [ ]:
10+3

In [ ]:
print("good job everyone!")

In [ ]:
print('hey')

In [ ]:
def adds(a,b,c):
        return(a+b+c)

In [ ]:
adds(2,3,4)

In [ ]:
%pwd

In [ ]:
a = "HELLO"

In [ ]:
a.lower().upper()

In [ ]:
5**3

In [ ]:
def loh(a,b):
    if a > b: 
        print('ну ты и лох, чувак')
    
    else:
        print('реально лошара')

In [ ]:
loh(2,5)

In [ ]:
loh(4,2)

In [ ]:
import numpy as np

In [ ]:
#pip install num2words;

In [ ]:
from num2words import num2words
num2words(42, lang='ru')

In [ ]:

for ipp in range(4,2):
    a = num2words(ipp, lang='ru')
    print(a)

In [ ]:
pop = range(1,10)
print(pop.reverse())

In [ ]:
30%2==0

In [ ]:
print("bfjd ") <br>

In [ ]:
print('jf','\n')
print('hkd')

In [ ]:
print?

In [ ]:
from num2words import num2words

for ipp in range(1,11)[::-1]:
    a = num2words(ipp, lang = 'ru').capitalize()
    b = num2words(ipp-1, lang = 'ru').capitalize()
    if ipp % 10 == 1:
        a = 'Одна'
        print(a,"бутылка молока на борту",'\n', a, "на борту",'\n', "Берёшь одну, пускаешь ко дну",'\n', b, "осталось на борту",'\n')
    elif ipp % 10 >= 5 or ipp % 10 == 0:
        print(a,"бутылок молока на борту", '\n', a, "на борту",'\n', "Берёшь одну, пускаешь ко дну", '\n', b, "осталось на борту",'\n')
    elif ipp % 10 == 2:
         a = 'Две'
         print(a,"бутылки молока на борту", '\n', a, "на борту",'\n', "Берёшь одну, пускаешь ко дну", '\n', b, "осталось на борту",'\n')
    else:
        print(a,"бутылки молока на борту", '\n', a, "на борту",'\n', "Берёшь одну, пускаешь ко дну",'\n', b, "осталось на борту",'\n')
    
for ipp in range(11,20):
        a = num2words(ipp, lang = 'ru').capitalize()
        b =  num2words(ipp-1, lang = 'ru').capitalize()
        print (a, "бутылок молока на борту", '\n', a, "на борту", '\n',"Берёшь одну, пускаешь ко дну", '\n', b, "осталось на борту",'\n')

In [ ]:
for ipp in range(20,100):
    a = num2words(ipp, lang = 'ru').capitalize()
    b = num2words(ipp-1, lang = 'ru').capitalize()
    if ipp % 10 == 1:
        a = b + ' одна'
        print(a,"бутылка молока на борту",'\n', a, "на борту",'\n', "Берёшь одну, пускаешь ко дну",'\n', b, "осталось на борту",'\n')
    elif ipp % 10 >= 5 or ipp % 10 == 0:
        print(a,"бутылок молока на борту", '\n', a, "на борту",'\n', "Берёшь одну, пускаешь ко дну", '\n', b, "осталось на борту",'\n')
    elif ipp % 10 == 2:
            c = num2words(ipp-2, lang = 'ru')
            a = c + ' две'
            print(a,"бутылки молока на борту", '\n', a, "на борту",'\n', "Берёшь одну, пускаешь ко дну", '\n', b, "осталось на борту",'\n')
    else:
        print(a,"бутылки молока на борту", '\n', a, "на борту",'\n', "Берёшь одну, пускаешь ко дну", '\n', b, "осталось на борту",'\n')

In [ ]:
n=range(1,10, -1)
print(n)

In [ ]:
n = input()
print(range(1,100)[::-1])

In [ ]:
print(range(1,100)[::-1])

In [ ]:
b = (range(1,10)[0:7:-1])
for i in b:
    print(i)

In [3]:
array = [1,2,3]
a = array[2]
a

3

In [6]:
a = [1,2,2,4]
b = [2,2,2]
a[1]==b[2]

True

In [5]:
#import numpy as np
#import pandas as pd
#from IPython.display import display

# https://openflights.org/data.html

url_airport = 'https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat'
url_routers = 'https://raw.githubusercontent.com/jpatokal/openflights/master/data/routes.dat'

df_raw_airport = pd.read_csv(url_airport)
display(df_raw_airport.head(5))
df_raw_routers = pd.read_csv(url_routers)
display(df_raw_routers.head(10))

columns_airport = ['Airport ID', 'Name', 'City',
                   'Country', 'IATA', 'ICAO', 'Latitude', 'Longitude', 'Altitude', 'Timezone',
                   'DST', 'Tz database time zone', 'Type', 'Source']

columns_routers = ['Airline', 'Airline ID', 'Source airport', 'Source airport ID', 
                   'Destination airport', 'Destination airport ID', 'Codeshare', 'Stops', 'Equipment']

df_raw_airport = pd.read_csv(url_airport, names = columns_airport)
display(df_raw_airport.head(3))
df_raw_routers = pd.read_csv(url_routers, names = columns_routers)
display(df_raw_routers.head(3))


df_raw_airport['Continent'] = 0.0
df_raw_airport

,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081689834590001,145.391998291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
2,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
3,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
4,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10,U,Pacific/Port_Moresby,airport,OurAirports

   2B  410  AER  2965  KZN  2990 Unnamed: 6  0  CR2
0  2B  410  ASF  2966  KZN  2990        NaN  0  CR2
1  2B  410  ASF  2966  MRV  2962        NaN  0  CR2
2  2B  410  CEK  2968  KZN  2990        NaN  0  CR2
3  2B  410  CEK  2968  OVB  4078        NaN  0  CR2
4  2B  410  DME  4029  KZN  2990        NaN  0  CR2
5  2B  410  DME  4029  NBC  6969        NaN  0  CR2
6  2B  410  DME  4029  TGK    \N        NaN  0  CR2
7  2B  410  DME  4029  UUA  6160        NaN  0  CR2
8  2B  410  EGO  6156  KGD  2952        NaN  0  CR2
9  2B  410  EGO  6156  KZN  2990        NaN  0  CR2

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.08169,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.20708,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.82679,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source,Continent
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports,0.0
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports,0.0
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports,0.0
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports,0.0
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7693,14106,Rogachyovo Air Base,Belaya,Russia,\N,ULDA,71.616699,52.478298,272,\N,\N,\N,airport,OurAirports,0.0
7694,14107,Ulan-Ude East Airport,Ulan Ude,Russia,\N,XIUW,51.849998,107.737999,1670,\N,\N,\N,airport,OurAirports,0.0
7695,14108,Krechevitsy Air Base,Novgorod,Russia,\N,ULLK,58.625000,31.385000,85,\N,\N,\N,airport,OurAirports,0.0
7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,\N,\N,\N,airport,OurAirports,0.0
7697,14110,Melitopol Air Base,Melitopol,Ukraine,\N,UKDM,46.880001,35.305000,0,\N,\N,\N,airport,OurAirports,0.0